command="/usr/lib/sftp-server",no-pty,no-port-forwarding,no-X11-forwarding,no-agent-forwarding ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCu9W2GpCZK7buK0i7XapOsvJ2UtAtWTEMzlLaoxp9wCmxBn+jkXt12bj3KwQPd+39Pft2PDQdIfpHGIU0mYWHUnv7KLZkZioZTEPwpios7rumXBc0DjvP+nkRhVU5pvC3Tjq4CKdUi61+zEFAxlMXmDndGz7WBllGP/hMStujMaXBGaeOf5V7ivWHBa2DO2zFoT+VdxROgyWz+F/ClyFH6tM9BGSp8G19g7pJiQxj2mqftg8yHn3jnyVqb2vCI+4urIgn9lgGdbAikwHr7Zwfa7jT3Sq7i/MJXvXyS9YWTd45AX8TFUxQeh+rLpLJhombmp9QYfRnHJItnNIaTrGBD root@android-build.linaro.org