command="/home/ubuntu/linaro-jenkins-tools/new-publish/propagate.py ${SSH_ORIGINAL_COMMAND#* }",no-pty,no-port-forwarding,no-X11-forwarding,no-agent-forwarding ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYwM5B28Jhvum/lUXDnNC587cRjira7i6A00P3/m/jmtu5r3Ng18WRAG6Pn3rUwQ9JuB3FGb6CyDld/MNdmpHiLtw4zoj5y5eIGE8hgeAGNKszq9tFreo0msR83zN5nPVSSP4dQ1NhQj3agWaqxy/twsfDFoK2u8RiiJ1wsqRzIYqy8A+UDX5+WFN5kMPjSOyut9UeBf17N7Fo35kRlzDFU/TpHpEGy6vmtU268QImKodm11BU9mDgx736+d22GXjpbkvoqP853xKI1OL/nl4k+jMeJ3tYW35nVZrlz9nu00/1bwwf0nAkNdLxhJ/5zicPUJkwP4ehsXG/Od7cWYQd root@android-build.linaro.org